@font-face {
  font-family: "Optima Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Optima Italic"), url("../fonts/Optima_Italic.woff") format("woff");
}

@font-face {
  font-family: "Optima Medium";
  font-style: normal;
  font-weight: normal;
  src: local("Optima Medium"), url("../fonts/Optima Medium.woff") format("woff");
}

@font-face {
  font-family: "Optima Bold";
  /* font-style: normal; */
  font-weight: normal;
  src: local("Optima Bold"), url("../fonts/OPTIMA_B.woff") format("woff");
}

.row {
  margin: 0;
}
.welcomeSection {
  background-image: url("../images/ezgif.com-gif-maker.gif");
  background-position: center;
  background-size: cover;
  height: 100vh;
}

nav {
  background-color: #013630;
  text-align: center;
}

nav .logo img {
  margin: 15px 0px 18px 0;
}
nav .features {
  display: flex;
  justify-content: space-between;
}

nav .list ul {
  margin-bottom: 0px;
}
nav .list ul li {
  list-style: none;
  display: inline-block;
  margin-left: 90px;
  padding-bottom: 15px;

  font-family: "Optima Medium";
  font-style: normal;
  font-weight: 550;
  font-size: 17px;
  line-height: 16px;
  /* identical to box height */

  color: #ffffff;
}

nav .list .active {
  border-bottom: 2px solid #cedc01;
}

nav .features .shoping {
  margin-right: 30px;
}

nav .features .shoping svg {
  margin-right: 20px;
  background-color: #fff;
  border-radius: 50%;
  padding: 5px;
}

nav .search{
  width: 90%;
  margin-left: 102px;
  position: relative;
  top: -40px;
  display:none;
  /* z-index: 999; */
  cursor: pointer;
}

nav .openSearch{
  cursor: pointer;

}

nav  a{
  color: #000000 !important ;
}
nav .search-input{
  width:100%;
  /* margin-left: 102px; */
  padding: 7px 0 7px 10px;
 
}

nav .search svg{
  
position: absolute;
top: 14px;
right: 20px;
z-index: 999999999999;
 
}

nav h2 {
  font-family: "Optima bold";
  font-style: normal;
  font-weight: 550;
  font-size: 70px;
  line-height: 64px;
  padding: 90px 0 50px;
  margin: 0;
  color: #cedc01;
}

.welcomeSection .caption {
  display: flex;
  align-content: flex-end;
  margin-left: 70px;
}

.welcomeSection .caption h4 {
  font-family: "Optima Bold";
  font-style: normal;
  font-weight: 550;
  font-size: 70px;
  line-height: 64px;

  color: #ffffff;
}

.welcomeSection .caption h4 span {
  color: #ccdb2a;
}

.sliderSec {
  height: 100vh;
}

.sliderSec .swiper {
  width: 100%;
  height: 100%;
}

.sliderSec .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.sliderSec .s1 {
  background-image: url("../images/image 13.png");
  /* height: 100vh; */
  background-position: center;
  background-size: cover;
  /* display: block;
    width: 100%;
    height: 100%;
    object-fit: cover; */
}

.sliderSec .swiper-button-next:after {
  content: "";
}

.sliderSec .swiper-button-prev:after {
  content: "";
}

.sliderSec .swiper-button-next {
  background: rgba(255, 255, 255, 0.6);
  border-radius: 50%;
  width: 60px;
  margin-right: 20px !important;
  height: 60px;
}

.sliderSec .swiper-button-prev {
  background: rgba(255, 255, 255, 0.6);
  border-radius: 50%;
  width: 64px;
  margin-left: 20px !important;

  height: 64px;
}

.sections .img {
  height: 100vh;
  width: 25%;
  position: relative;
  overflow: hidden;
}
.sections img {
  height: 100vh;
  /* width: 130% ; */
  /* height: 100%; */
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  position: relative;
}

.sections .img:hover {
  width: 30%;
  transition: 0.8s;
}

.sections .caption {
  position: absolute;
  top: 90%;
  /* left: 12%; */
  text-align: center;
  margin: auto;
  width: 100%;
}

.sections .caption h4 {
  font-family: "Optima bold";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 57px;

  color: #ffffff;
}

.sections .caption p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 38px;
  text-align: center;

  color: #ffffff;
}

.sections .caption button {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 38px;
  /* identical to box height */
  padding: 15px 105px;
  background: #cedc01;
  border: none;
  color: #000000;
}

.sections .caption .wilHeddin {
  display: none;
}

.sections .img:hover .caption {
  display: block;
  color: #01211d;
  top: 70%;
  transition: 0.8s;
}

.sections .img:hover .wilHeddin {
  display: block;
  transition: 0.8s !important;
}

.servies {
  margin: 150px 0;
}
.servies .customcontainer {
  padding: 0 68px;
}

.servies .one {
  padding: 63px 45px;
  background: #013630;
  border-radius: 4px;
  text-align: center;
}

.servies .one h3 {
  margin-top: 17px;
  font-family: "Optima Medium";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  /* identical to box height */

  text-align: center;

  color: #ffffff;
}

.servies .one p {
  margin: 45px 0;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 200;
  font-size: 18px;
  line-height: 27px;
  text-align: center;

  color: #ffffff;
}

.servies .one button {
  background: rgba(206, 220, 1, 0.8);
  border: none;
  padding: 17px 67px;
  font-family: "Optima Bold";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  /* identical to box height */

  text-align: center;

  color: #ffffff;
}

footer .col-md-4 {
  background: #013630;
  padding-left: 50px;
  padding-bottom: 70px;
}

footer .col-md-4 h4 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  /* identical to box height */

  margin: 70px 0 25px 0;
  color: #ffffff;
}

footer .col-md-4 p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
  margin: 25px 0;
}

footer .col-md-4 svg {
  background: #ccdb2a;
  border-radius: 50%;
  padding: 2px;
  margin-right: 15px;
}

footer .col-md-4 span {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 200;
  font-size: 17px;
  line-height: 26px;

  color: #ffffff;
}

footer .col-md-8 {
  background: #01211d;
  padding-left: 90px;
}

footer .col-md-8 h6 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  /* identical to box height */
  margin: 70px 0 25px;

  color: #ffffff;
}

footer .col-md-8 .payment img {
  margin-right: 30px;
}

footer .col-md-8 p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;

  color: #ffffff;
  margin: 80px 0 40px;
}

footer .col-md-8 button {
  font-family: "Optima Bold";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 34px;

  color: #000000;
  padding: 20px 128px;
  border: none;
  background: #ccdb2a;
}

footer .col-md-8 .social {
  margin-block-start: 28px !important;
  margin-left: 350px;
}

footer .col-md-8 .social img {
  margin-right: 40px !important;
}

.filterBar {
  margin-bottom: 80px;
}

.filterBar ul {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.filterBar ul li {
  list-style: none;
  margin-right: 84px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */

  color: #000000;

  opacity: 0.7;
}

.filterBar ul li svg {
  color: #cedc01;
}

.items .one {
  text-align: center;
  margin-bottom: 50px;
}

.items .one h6 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  /* identical to box height */
  margin-top: 20px;

  color: #000000;
}

.items .one span {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 27px;
  /* identical to box height */

  color: #2b6354;
}

.items .one h5 {
  font-family: "Optima Medium";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 22px;

  color: #000000;
}

.itemDetails {
  background-color: #ebebeb;
}
.item {
  padding-top: 90px;
}

.oneItem {
  background: #ffffff;
  border-radius: 4px;
  width: 90%;
  margin: auto;
}

.oneItem .swiper {
  width: 450px;
  height: 550px;
  /* padding: 00px; */
}

.oneItem .swiper-slide {
  background-position: center;
  background-size: cover;
  width: 400px;
  height: 400px;
}

.oneItem .swiper-slide img {
  display: block;
  width: 90%;
  margin: auto;
  margin-top: 50px;
}

.item h3 {
  font-family: "Optima Medium";
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 56px;
  /* identical to box height */
  margin-bottom: 25px;
  color: #000000;
}

.item p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 30px;
  color: #000000;
}

.item h6 {
  font-family: "Optima Medium";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 22px;
  margin-bottom: 40px;

  color: #000000;
}

.item h6 span {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  /* identical to box height */

  color: #2b6354 !important;
}

.item h6 .prise {
  font-size: 10px;
}

.item .size {
  background-color: #fff;
  padding: 0px 6px 2px 6px;
  font-family: "Optima";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 22px;
  margin-left: 10px;
  color: #000000 !important;
}

.item button {
  font-family: "Optima Bold";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 29px;
  /* identical to box height */

  background: #235e4f;
  border-radius: 2px;
  padding: 17px 170px;
  color: #ffffff;
  border: none;
  margin-top: 60px;
}

.item h4 {
  font-family: "Optima Medium";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 33px;
  text-align: center;
  color: #000000;
  margin: 50px 0;
}

.item .sizeGide {
  justify-content: space-between;
}

.item .sizeGide a {
  font-family: "Optima Medium";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 22px;
  text-decoration: none;
  border-bottom: 1px solid #000000;
  color: #004842;
  margin-block-end: 34px;
}

.search-bar {
  margin-top: 170px;
  position: relative;
}

.search-bar input {
  opacity: 0.7;
  border: 0.8px solid #000000;
  display: block;
  width: 70%;
  margin: auto;
  padding: 12px 60px;
  font-family: "Optima Medium";
  font-style: normal;
  font-weight: 550;
  font-size: 30px;
  line-height: 28px;
  /* identical to box height */

  color: #000000;

  opacity: 0.8;
}

.search-bar img {
  position: absolute;
  top: 20%;
  right: 17%;
}

.noResult {
  text-align: center;
  margin: 70px 0;
}

.noResult h6 {
  font-family: "Optima Medium";
  font-style: normal;
  font-weight: 550;
  font-size: 25px;
  line-height: 23px;
  /* identical to box height */
  margin-bottom: 30px;

  color: #000000;
}

.noResult p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 38px;
  /* identical to box height */

  color: #000000;

  opacity: 0.7;
}
.searchReasult .oneResult {
  display: flex;
  justify-content: space-between;
}

.searchReasult .line {
  margin: 50px 0;
  width: 100%;
  height: 0.7px;
  background-color: #000000;
}

.searchReasult .itemResult {
  display: flex;
}
.searchReasult .itemResult img {
  width: 200px;
  height: 200px;
}

.searchReasult .itemResult .add {
  margin-top: 100px;
  margin-left: 60px;
}

.searchReasult .itemResult h4 {
  /* margin-block: -50px; */
  font-family: "Optima Medium";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 28px;
  /* identical to box height */

  color: #000000;
}

.searchReasult .itemResult button {
  /* margin-block: -80px; */
  margin-top: 20px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  /* identical to box height */
  border: none;
  background: #004842;
  border-radius: 4px;
  color: #ffffff;
  padding: 8px 13px;
}
.searchReasult .prise {
  margin-top: 8%;
}

.searchReasult .prise h4 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  /* identical to box height */
  color: #000000;
  margin-left: 20px;
}

.searchReasult .prise h4 span {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 27px;
  /* identical to box height */

  color: #cedc01;
}

.searchReasult .prise .line {
  width: 100%;
  height: 1px;
  background-color: #000000;
  position: relative;
  top: -22px;
  margin: 0;
}

.searchReasult .discount {
  background: #cf2027;
  font-family: "Optima Medium";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 22px;

  color: #ffffff;
  padding: 9px 10px;
}

.noitemIncart{
  text-align: center;
  margin-top: 130px;
}

.noitemIncart h6{
  font-family: 'Optima Medium';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 45px;
margin-bottom: 50px;
color: #000000;

opacity: 0.8;
}

.noitemIncart button{
  font-family: 'Optima Medium';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 22px;
padding: 20px 37px;
background: #004842;
border: none;
color: #FFFFFF;
margin-bottom: 121px;
}


.cart h3 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
  /* identical to box height */
  color: #000000;
  opacity: 0.7;
  text-align: center;
  margin-top: 30px !important;
  margin-bottom: 80px !important;

  padding-bottom: 5px;
  border-bottom: 1px solid #000000ca;
  width: 15%;
  margin: auto;
}



.cart .shoppingCart .container{
  max-width: 92% !important;
}

.cart .shoppingCart .header {
  border-bottom: 1px solid #000000ca;
  text-align: center;

}
.cart .shoppingCart .header h6{
   
  font-family: 'Optima Medium';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 22px;
  
  color: #000000;
}


.cart .shoppingCart .iteminCart {
  display: flex;
}

.cart .shoppingCart .iteminCart .add{
margin-left: 30px;
}



.cart .shoppingCart .iteminCart img{
  width: 150px;
  height: 150px;

}

.cart .shoppingCart .iteminCart h4{
  font-family: 'Optima Medium';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 22px;
  
  color: #000000;

}
.cart .shoppingCart .body{
  text-align: center;
  margin-top: 40px;
}
.cart .shoppingCart .body .row{
  border-bottom: 0.7px solid #000000; 
  padding-bottom:40px ;
}
.cart .shoppingCart .body .iteminCart{
  text-align: left;
}

.cart .shoppingCart .body .iteminCart h4{
  margin-top: 10px;
  font-family: 'Optima Medium';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 22px;
margin-bottom: 20px;
color: #000000;
}

.cart .shoppingCart .body .iteminCart h6{
  font-family: 'Optima Medium';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 13px;
margin-bottom: 20px;
color: #000000;

}

.cart .shoppingCart .body .iteminCart a{
  font-family: 'Optima Medium' !important;
font-style: normal;
font-weight: 550;
font-size: 13px;
line-height: 12px;
/* identical to box height */

margin-right: 15px;
color: #000000;
text-decoration: none;
border-bottom: 0.7px solid #00000098;
opacity: 0.8;
margin-top: 20px;

}


.cart .shoppingCart .body .itemPrise{
  height: 100% !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart .shoppingCart .body .TotalitemPrise{
  height: 100% !important;
  display: flex;
  align-items: center;
  justify-content: end;

}

.cart  .itemPrise h4{
  font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 22px;
/* identical to box height */


color: #000000;
}


.cart  .itemPrise h4 span{
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 27px;
  /* identical to box height */

  color: #CEDC01
}

.cart .shoppingCart .body .itemQuntity {
  height: 100% !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart .shoppingCart .body .itemQuntity input{
  width: 25%;
border: 0.7px solid #000000;
border-radius: 2px;
padding: 10px 0;
text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.cart .cartfooter{
  margin-top: 40px;
}

.cart .cartfooter h5{
  font-family: 'Optima Medium';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 28px;
/* identical to box height */


color: #000000;

opacity: 0.8;
}

.cart .checkout{
  text-align: right;
}
.cart .checkout p{
font-family: 'Optima Medium';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 14px;

color: #000000;
margin-top: 15px;
opacity: 0.8;
}



.cart .checkout button{
  
font-family: 'Optima Medium';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 17px;
/* identical to box height */
padding: 11px 27px;
background: #004842;
color: #FFFFFF;
border: none;
margin: 25px 0 50px 0;
}

.chechOutPayment .info{
  text-align: center;
}

.chechOutPayment .contactInformation{
  width: 90%;
  margin: auto;
}

.chechOutPayment .contactInformation input{
  width: 100%;
  margin: auto;
}


.chechOutPayment input{
  border: 0.6px solid #000000;
border-radius: 1px;
font-family: 'Poppins';
font-style: normal;
font-weight: 300;
font-size: 15px;
line-height: 22px;
/* identical to box height */

display: inline-block;
color: #000000;
padding: 13px 30px;
opacity: 0.6;
margin-bottom: 20px !important;
}

.chechOutPayment .w-100{
  width: 90% !important;
  margin: auto;
}

.chechOutPayment .w-50{
  width: 43% !important;
  margin-right: 10px;
  margin-left: 10px;

}

.chechOutPayment .info h6{
margin-bottom: 20px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 22px;
  /* identical to box height */
  
  
  color: #000000;
  
}

.chechOutPayment .info a{
  text-decoration: none;
    color: #2B6354;
    
  }

.chechOutPayment .info .Shipping{
  margin-top: 50px; 
  margin-left: 5%;
  text-align: start;
}

.chechOutPayment .info .btns {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: auto;

}

.chechOutPayment .info .btns button {
  font-family: 'Optima Bold';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 23px;
/* identical to box height */
padding: 16px 27px;
background: #004842;
border-radius: 4px;
border: none;

color: #FFFFFF;

}


.chechOutPayment .info .btns a {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 22px;
  /* identical to box height */
  
  
  color: #000000;
  
  opacity: 0.8;
margin-block: 16px;
}

.chechOutPayment .info .btns a svg{

  color: #004842B2;
} 

.cartDetails{
  background-color: #EBEBEB;
}

.chechOutPayment .cartDetails .buyingItem .img{
   background: #FFFFFF;
  border-radius: 10px;;
}

.chechOutPayment .cartDetails .buyingItem .img img{
 width: 100px;
 height: 100px;
 padding: 10px;
}

.chechOutPayment .cartDetails .buyingItem .buyingItemDetails h4{
  font-family: 'Optima Medium';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 22px;

color: #000000;
}

.chechOutPayment .cartDetails .buyingItem .buyingItemDetails h6{
  font-family: 'Optima Medium';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 13px;
  
  color: #000000;
}

.chechOutPayment .cartDetails .buyingItem .buyingItemDetails{
  margin-left: 30px;
  margin-top: 30px;
  width: 70% !important;
}

.chechOutPayment .cartDetails .buyingItem{
  margin: 50px 0 0 60px;
}

.chechOutPayment .cartDetails .buyingItem .buyingItemDetails .prise{
  font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 22px;
/* identical to box height */


color: #000000;;
}

.chechOutPayment .cartDetails .buyingItem .buyingItemDetails .prise span{
  font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 22px;
/* identical to box height */
color: #004842;;
}

.chechOutPayment .cartDetails .line
{
  
  width: 80%;
  margin:40px auto;
  height: 0.5px;
  background-color: #00000048;
}


.chechOutPayment .giftDiscountCode input{
  background-color: #FFFFFF;
  border-radius: 4px;
border: none !important;
width: 60%;
margin-left:60px;
opacity: 1;
}

.chechOutPayment .giftDiscountCode button{
  font-family: 'Optima Bold';
font-style: normal;
font-weight: 700;
font-size: 15px;
line-height: 17px;
background: #3C3C3B;
opacity: 0.3;
border-radius: 10px;
border: none;
padding: 13px 28px;
color: #FFFFFF;
margin-left: 48px;
}

.chechOutPayment .totalPriceForItems{
  width: 80%;
  margin: auto;
}

.chechOutPayment .totalPriceForItems h6{
  font-family: 'Optima Medium';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 22px;
margin-bottom: 30px;
color: #000000;

opacity: 0.8;
}
.chechOutPayment .totalPriceForItems .prise{
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 22px;
/* identical to box height */


color: #000000;
}
.chechOutPayment .totalPriceForItems h6 span{
  font-family: 'Optima Medium';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 22px;

color: #004842;

opacity: 0.8;
}

.chechOutPayment .totalPriceForItems .totalprise{
  font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 25px;
line-height: 38px;
/* identical to box height */


color: #000000;
}


.chechOutPayment .sameAddres{
  border: 0.6px solid #000000;
border-radius: 2px;
width: 90%;
margin:25px auto;
text-align: start;
padding: 13px 20px;

}

.chechOutPayment .sameAddres h3{
  font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 15px;
/* line-height: 22px; */
/* identical to box height */
margin-bottom: 0;

margin-left: 25px;
color: #000000;
}

.chechOutPayment .sameAddres .radiobtn{
  margin-bottom: 0 !important;
}

.hiddenInputs {
  margin-top:40px ;
  width: 100%;
  margin-left: 25px;
}

.hiddenInputs .w-50{
  width: 43% !important;
  margin-right:15px;
  margin-left: 0px;
}

.paymentPage .contactInformation .w-50{
 width: 47% !important;
 margin-left: 10px;
 margin-right: 3px;
}

.paymentPage .contactInformation h6{
  font-family: 'Poppins';
font-style: normal;
font-weight: 300;
font-size: 15px;
line-height: 22px;
/* identical to box height */

text-align: start !important;
color: #000000;
}

.paymentPage .contactInformation p{

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-size: 10px;
  line-height: 15px;
  /* identical to box height */
  
  
  color: #000000;
  
  opacity: 0.7;
}

.paymentPage .shippingAddress h6{
  font-family: 'Poppins';
font-style: normal;
font-weight: 300;
font-size: 15px;
line-height: 22px;
/* identical to box height */

text-align: start !important;
color: #000000;
}

.paymentPage .shippingAddress p{
  font-family: 'Poppins';
font-style: normal;
font-weight: 300;
font-size: 10px;
line-height: 15px;
/* identical to box height */
text-align: left;
margin-left: 30px;
color: #000000;

opacity: 0.7;
}
.paymentPage .hiddenInputs{
  display: none;
}
.sucess{
  text-align: center;
}

.sucess img{
  display: block;
  margin: auto;
}


.sucess h1{
  font-family: 'Optima Medium';
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 56px;
  /* identical to box height */
  
  
  color: #235E4F;
  
}


.sucess h6{
  font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 30px;
/* identical to box height */


color: #000000;
  
}

.sucess button{
  font-family: 'Optima Medium';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 17px;
  /* identical to box height */
  
  
  color: #FFFFFF;
  
  background: #235E4F;
border-radius: 1px;
border: none;
padding: 10px 60px;
}


.register{
  background-color: #235E4F;
}

.register section{
  text-align: center;
  width: 50%;
  margin: auto;
}

.register section h6{
  font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 15px;
line-height: 22px;
/* identical to box height */
margin-bottom: 20px;
text-align: left;
color: #FFFFFF;

}

.register section p{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 22px;
margin: 85px 0 25px 0;
text-align: left;
color: #FFFFFF;

}

.register section input{
  background: #FFFFFF;
border-radius: 1px;
width: 100%;
padding: 18px 30px;

font-family: 'Poppins';
font-style: normal;
font-weight: 300;
font-size: 15px;
line-height: 22px;
/* identical to box height */

border: none;
color: #000000;
margin-bottom: 20px;

/* opacity: 0.5; */
}

.register section .forgetPass{
  display: flex;
  justify-content: end;
}

.register section .forgetPass a{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  /* identical to box height */
  text-decoration: none;
  margin-bottom: 20px;
  color: #FFFFFF;
}

.register section button{
  font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 15px;
line-height: 22px;
/* identical to box height */
background-color: #CCDB2A;
width: 100%;
color: #000000;
border: none;
margin-bottom: 30px;
padding: 10px 0;
}

.register section .or{
  border: 1px solid #FFFFFF;
  border-radius: 50%;
  padding: 7px;
  font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 18px;
/* identical to box height */


color: #FFFFFF;

}

.register section .line{
  display: inline-block;
  margin-block: 5px;
  margin-right: -4px;
  margin-left: -4px;
  width: 100px ;
  height: 0.5px ;
  background-color: #fff !important;
}

.register section .signup{
  width: 30%;
  display: block;
  margin: 40px auto;
}

.register section a{
  text-decoration: none;
}


@media all and (min-width: 1200px) and (max-width: 1440px) {
  nav .list ul li {
    font-size: 15px;
  }

  nav .features .shoping svg {
    font-size: 12px;
  }

  .welcomeSection .caption h4 {
    font-size: 60px;
    line-height: 50px;
  }

  .sections .caption h4 {
    font-size: 40px;
  }

  .sections .caption p {
    font-size: 22px;
  }

  .sections .caption button {
    font-size: 20px;
  }

  .sections .img:hover .caption {
    top: 65%;
  }

  .servies .one p {
    font-size: 17px;
  }

  footer .col-md-4 {
    padding-bottom: 40px;
  }

  footer .col-md-4 h4 {
    font-size: 20px;
    line-height: 30px;
    margin: 30px 0 25px 0;
  }

  footer .col-md-4 p {
    font-size: 16px;
    line-height: 25px;
    margin: 20px 0;
  }

  footer .col-md-4 img {
    width: 30%;
  }

  footer .col-md-4 svg {
    padding: 2px;
    margin-right: 12px;
  }

  footer .col-md-4 span {
    font-size: 16px;
    line-height: 26px;
  }

  footer .col-md-8 {
    padding-left: 90px;
  }

  footer .col-md-8 h6 {
    font-size: 20px;
    line-height: 30px;
    margin: 30px 0 25px;
  }

  footer .col-md-8 .payment img {
    margin-right: 30px;
  }

  footer .col-md-8 p {
    font-size: 20px;
    line-height: 30px;
    margin: 30px 0 40px;
  }

  footer .col-md-8 button {
    font-size: 25px;
    line-height: 34px;
    padding: 12px 100px;
  }

  footer .col-md-8 .social {
    margin-block-start: 28px !important;
    margin-left: 135px;
  }

  footer .col-md-8 .social img {
    margin-right: 40px !important;
  }
}
